.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.grid-container {
  margin: 2% 20%;
  padding: 0.5rem 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid #888888;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-auto-rows: 1fr;
  /* grid-template-rows: repeat(1, 1fr); */
}

.grid-container-transfer {
  display: grid;
  padding: 0.5rem 0.5rem;
  grid-template-columns: 10% 90%;
}

.grid-item {
  text-align: left;
  padding: 0.25rem 0.25rem;
}

input.TransferInput {
  /* width: 100%; */
  /* border-radius: 0.25rem; */
  border-width: thin;
}

button.Send {
  /* width: 100%; */
  /* height: 2rem; */
}